/* post list */
ul.posts {
  list-style-type:none;
  margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}
div #post ol {
  padding:30px;
}

blockquote {

  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
div.highlight{
    overflow-x: auto;
}
img {
  max-width: 100%;

}
/* Stripe even rows inside any ox-hugo-generated table */
.ox-hugo-table tbody tr:nth-child(even) {
  background-color: #3b3f4a;
}

/* Header cells */
.ox-hugo-table th {
  font-weight: normal;
  text-align: center;
  background-color: #3b3f4a;
  padding: 5px;
  border: 0;
}

/* Body cells */
.ox-hugo-table td {
  padding: 5px;
  border: 1px solid black;
}
/*side note experiment */
body {
  counter-reset: sidenote-counter;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -55%;
    width: 50%;
    /* margin-top: 0.3rem; */
    margin-bottom: 0;
    /*font-size: 1.1rem;*/
    font-size: 0.8rem;
    line-height: 1.3; 
    vertical-align: baseline;
    position: relative;
	padding-left: 24px;
	border-left: 1px solid white;
	padding-top: 0px;
	/* background-color: red; */
}
.sidenote p {
	margin: 0px;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number::after,
.sidenote::before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number::after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}
.sidenote::before {
    content: counter(sidenote-counter) " "; 
    font-size: 1rem;
    /* top: -0.5rem; */
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}
h2 {
	color: #eec35e;
	margin-top: 2em;
  margin-bottom: 1.5em;	
  border-bottom: 3px solid #3b3f4a;  /* 3px rule below */
  padding-bottom: 0.3em;
}
.table-caption {
	margin-top:2em;
	margin-bottom: 1.5em;
	color:#a19f99;
}
